@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #eee;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
    margin: 50px 0 0 0;
    color: #2c2c2c;
}

form {
    max-width: 420px;
    margin: 30px auto;
    background: #fff;
    text-align: left;
    padding: 40px;
    border-radius: 10px;
}

label {
    color: #aaa;
    display: inline-block;
    margin: 25px 0 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 0.8rem;
}

input, select {
    display: block;
    padding: 10px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ddd;
    color: #555;
    outline: none;
}

input[type="checkbox"] {
    display: inline-block;
    width: 16px;
    height: auto;
    margin: 0 10px 0 0;
    position: relative;
    top: 2px;
    cursor: pointer;
}

p {
    text-align: center;
    margin: 0 auto 20px auto;
}

.pill {
    display: inline-block;
    margin: 20px 10px 0 0;
    padding: 6px 12px;
    background: #0d649e67;
    border-radius: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #0d649e;
    cursor: pointer;
}

.submit {
    text-align: center;
}

button {
    background: #0077d8;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 20px;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}

button:hover {
    background: #0a91ff;
}

.error {
    font-size: 10px;
    color: red;
    margin-top: 5px;
}